    ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #119DA4;
    }
    
    li.bar {
        float: left;
    }
    
    li a.tab {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: georgia;
    }
    
    .go {
        float: right;
        margin: 12px 20px 0px 0px
    }
    
    #name {
        text-decoration: none;
        color: black;
    }
    
    h1,
    #image,
    .secimg {
        text-align: center;
    }
    
    a.tab:hover {
        background-color: navajowhite;
    }
    
    .page {
        text-align: center;
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        background-color: navajowhite;
    }
    
    .pageimg {
        text-align: center;
        background-color: #f2f4ff;
    }
    
    .external {
        background-color: #b7dee8;
        font-size: 15px;
    }
    
    h3 {
        background-color: navajowhite;
        font-size: x-large;
    }