ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #119DA4;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: georgia;
}

.go {
    float: right;
    margin: 12px 20px 0px 0px
}

#name {
    text-decoration: none;
    color: black;
}

h1,
#image,
h2 {
    text-align: center;
}

ul.excluded * {
    background-color: white;
}

ul.excluded li {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: georgia;
    background-color: white;
}